video {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  z-index: -1 !important;
}

.homemain-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #00000000;
  color: white;
  padding: 20px;
  max-width: 300px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
}

.logo {
  font-size: 14px;
  margin-bottom: 20px;
  word-wrap: break-word;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Hamburger ikon jobb felső sarokban */
.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  display: none; /* Csak mobilnézetben jelenik meg */
}

/* Menü lista alapértelmezett stílus */
.menu-icon-main {
  display: flex; /* Alapértelmezés szerint asztali nézetben látható */
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.menu-icon-main.active {
  display: flex;
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.menu_link {
  text-decoration: none !important;
  text-transform: capitalize !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding: 0 10px !important;
  margin: 0 30px !important;
  position: relative !important;
  z-index: 1 !important;
  transition: color 0.3s ease !important;
  cursor: pointer !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
}

.menu_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3%;
  background-color: #ffffff;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.menu_link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Mobilnézet: Menü alapértelmezés szerint rejtve */
@media screen and (max-width: 960px) {
  img{
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    position: relative;
  }
  .menu-icon {
    display: flex; /* Csak mobilnézetben jelenik meg a hamburger ikon */
    flex-direction: column;
    position: relative;
    top: -17px !important;
    fill: white !important;
    right: 20px;
    z-index: 10;
    cursor: pointer;
  }


  .menu-icon-main {
    display: none; /* Alapértelmezés szerint rejtve van */
  }

  .menu-icon-main.active {
    display: flex; /* Csak kattintásra jelenik meg */
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(39, 39, 39);
    padding: 20px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
}

/* Menü linkek stílusa */
.menu_link {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 20px;
  font-weight: 500;
  top: 10px;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu_link:hover {
  color: #000000;
}

.content {
  background-color: #f4f4f400;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.content h2 {
  margin-top: 0;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
