.filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-height: 60%;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px !important;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
