.filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-height: 60%;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Balra igazítás */
    padding: 10px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width: 500px;
    width: 100%;
    margin: 20px !important;
}

  .filter__groups {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  .group-item {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 4px !important;
    margin: 5px !important;
  }
  
  .group-item:hover {
    background-color: #f5f5f5;
  }
  
  .group-item.active {
    border-color: #000000;
    background-color: #ebe8f5;
  }
  
  .custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #888;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
  }
  
  .group-item.active .custom-radio {
    border-color: #000000;
    background-color: #000000;
  }
  
  .group-item.active .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .filter__container {
      margin: 10px !important;
      padding: 10px !important;
    }
    
    .filter__groups {
      flex-direction: column;
    }
    
    .group-item {
      width: 100%;
      justify-content: center;
    }
    
    input[type="text"] {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
