body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
  background-color: #f4f4f4;
}

body.light-mode {
  background-color: #ffffff;
  color: #333 !important;
}

body.dark-mode {
  background-color: #121212;
  color: #fff !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
}

.settings-page {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.settings-header {
  padding: 40px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.settings-body {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 40px;
}

.settings-section {
  width: 30rem;
}

.setting-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.unit-btn {
  background-color: #f2f2f2;
  color: #666;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 4rem;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: auto;
}

.unit-btn:hover {
  background-color: #007bff;
  color: white;
}

body.dark-mode .settings-page {
  background-color: #1e1e1e;
}

body.dark-mode .sidebar {
  background-color: #333;
}

body.dark-mode .setting-option {
  background-color: #333;
}

body.dark-mode .setting-option button {
  background-color: #ffa500;
}

body.dark-mode .setting-option button:hover {
  background-color: #ff8700;
}

@media (max-width: 768px) {
  .settings-header {
    flex-direction: column;
    align-items: center;
  }

  .settings-body {
    flex-direction: column;
    gap: 20px;
  }
}