.homemain-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    height: 100vh; 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    padding: 30px;
  }


  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: rgb(0, 0, 0) !important;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; 
    box-sizing: border-box; 
    overflow-y: auto; 
    text-align: center;
  }
.logo {
    font-size: 14px; 
    margin-bottom: 20px;
    word-wrap: break-word; 
    max-width: 100%; 
    height: auto; 
    object-fit: contain;
}

.menu button {
    width: 100%;
    max-width: 250px; /* vagy egy másik megfelelő érték */
    padding: 10px;
    margin: 5px 0;
    background-color: #444;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* vagy left, ha nem középre akarod */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.menu button:hover {
    background-color: #555;
}

.logout {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}



  .content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .content h2 {
    margin-top: 0;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Középre vízszintesen */
    justify-content: center; /* Középre függőlegesen */
    background-color: #f4f4f4;  
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}
