* {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'PT Sans', sans-serif !important;
  }
  
  .home,
  .about,
  .contact,
  .services,
  .sign-up {
    display: flex !important;
    height: 90vh !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 3rem !important;
  }